language: go
go:
    - tip

before_install:
    - go get -t -v ./...

install:
    - go get github.com/xtaci/kcp-go

script:
    - go test -coverprofile=coverage.txt -covermode=atomic

after_success:
    - bash <(curl -s https://codecov.io/bash)
